@import url('../plugin/rustdoc.css');
@import url('../plugin/light.css');

code.language-diffnew {
    background-color: rgb(203, 255, 203);
}

code.language-diffold {
    background-color: rgb(255, 203, 203);
}

.block h4 {
    text-align: center;
}

pre.collapse-old {
    margin-bottom: 0;
    padding-bottom: 0;
}

pre.collapse-new {
    margin-top: 0;
    padding-top: 0;
}
