@import url('../static.files/rustdoc-46132b98.css');
@import url('../static.files/light*.css');

pre.language-diffnew code {
    background-color: rgb(203, 255, 203);
}

pre.language-diffold code {
    background-color: rgb(255, 203, 203);
}

.block h4 {
    text-align: center;
}

pre.collapse-old {
    margin-bottom: 0;
    padding-bottom: 0;
}

pre.collapse-new {
    margin-top: 0;
    padding-top: 0;
}
